/**/
.scanner-wrapper {
    width: 85%; 
    margin: 0 auto;
    padding: 40px 0 0 0;
}

.scanner-label {
    color: #999;
    font-size: 14px;
}

.scanner-eye-catch {
    text-align: center;
    opacity: 1;
    margin: 20px 0 26px 0;
    background-color: white;
    color: #666;
    padding: 20px 0 0 0;
    border-radius: 2px;
    border: 1px solid #ccc;
}

.scanner-button {
    font-size: 20px;
    font-weight: bold;
    height: 48px;
    line-height: 48px;
    padding: 0;
    margin: 20px 0 26px 0;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.green{
  background-color: grenn;
}

.no_display{
  display: none;
}
.display{
  display: block;
}
